In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Display settings
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 10)

print("Libraries loaded successfully!")

Libraries loaded successfully!

In [20]:
# Load datasets
games = pd.read_csv('../data/games.csv')
vgsales = pd.read_csv('../data/vgsales.csv')

print("Games Shape:", games.shape)
print("VG Sales Shape:", vgsales.shape)

Games Shape: (1512, 14)
VG Sales Shape: (16598, 11)

In [21]:
games.head()

,Unnamed: 0,Title,Release Date,Team,Rating,Times Listed,Number of Reviews,Genres,Summary,Reviews,Plays,Playing,Backlogs,Wishlist
0,0,Elden Ring,"Feb 25, 2022","['Bandai Namco Entertainment', 'FromSoftware']",4.5,3.9K,3.9K,"['Adventure', 'RPG']","Elden Ring is a fantasy, action and open world...","[""The first playthrough of elden ring is one o...",17K,3.8K,4.6K,4.8K
1,1,Hades,"Dec 10, 2019",['Supergiant Games'],4.3,2.9K,2.9K,"['Adventure', 'Brawler', 'Indie', 'RPG']",A rogue-lite hack and slash dungeon crawler in...,['convinced this is a roguelike for people who...,21K,3.2K,6.3K,3.6K
2,2,The Legend of Zelda: Breath of the Wild,"Mar 03, 2017","['Nintendo', 'Nintendo EPD Production Group No...",4.4,4.3K,4.3K,"['Adventure', 'RPG']",The Legend of Zelda: Breath of the Wild is the...,['This game is the game (that is not CS:GO) th...,30K,2.5K,5K,2.6K
3,3,Undertale,"Sep 15, 2015","['tobyfox', '8-4']",4.2,3.5K,3.5K,"['Adventure', 'Indie', 'RPG', 'Turn Based Stra...","A small child falls into the Underground, wher...",['soundtrack is tied for #1 with nier automata...,28K,679,4.9K,1.8K
4,4,Hollow Knight,"Feb 24, 2017",['Team Cherry'],4.4,3K,3K,"['Adventure', 'Indie', 'Platform']",A 2D metroidvania with an emphasis on close co...,"[""this games worldbuilding is incredible, with...",21K,2.4K,8.3K,2.3K

In [22]:
vgsales.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [19]:
print("Games Missing Values:\n")
print(games.isnull().sum())

print("\nVG Sales Missing Values:\n")
print(vgsales.isnull().sum())

Games Missing Values:

Title           0
Release Date    0
Team            0
Rating          0
Times Listed    0
               ..
Reviews         0
Plays           0
Playing         0
Backlogs        0
Wishlist        0
Length: 13, dtype: int64

VG Sales Missing Values:

Rank            0
Name            0
Platform        0
Year            0
Genre           0
               ..
NA_Sales        0
EU_Sales        0
JP_Sales        0
Other_Sales     0
Global_Sales    0
Length: 11, dtype: int64

In [23]:
# Drop unnecessary column
games.drop(columns=["Unnamed: 0"], inplace=True)

# Drop missing ratings and team
games = games.dropna(subset=["Rating", "Team"])

# Drop missing years in vgsales
vgsales = vgsales.dropna(subset=["Year"])

# Check shapes after cleaning
print("Games Shape After Cleaning:", games.shape)
print("VG Sales Shape After Cleaning:", vgsales.shape)

Games Shape After Cleaning: (1498, 13)
VG Sales Shape After Cleaning: (16327, 11)

In [24]:

# Convert Release Date to datetime
games["Release Date"] = pd.to_datetime(games["Release Date"], errors="coerce")

# Extract release year
games["Release_Year"] = games["Release Date"].dt.year

# Check result
games[["Title", "Release Date", "Release_Year"]].head()

                                     Title Release Date  Release_Year
0                               Elden Ring   2022-02-25        2022.0
1                                    Hades   2019-12-10        2019.0
2  The Legend of Zelda: Breath of the Wild   2017-03-03        2017.0
3                                Undertale   2015-09-15        2015.0
4                            Hollow Knight   2017-02-24        2017.0

In [25]:
# Convert Year to integer
vgsales["Year"] = vgsales["Year"].astype(int)

# Rename column for consistency
vgsales.rename(columns={"Year": "Release_Year"}, inplace=True)

vgsales[["Name", "Release_Year"]].head()

                       Name  Release_Year
0                Wii Sports          2006
1         Super Mario Bros.          1985
2            Mario Kart Wii          2008
3         Wii Sports Resort          2009
4  Pokemon Red/Pokemon Blue          1996

In [26]:
# Standardize game titles in both datasets
games["Title_clean"] = games["Title"].str.lower().str.strip()
vgsales["Title_clean"] = vgsales["Name"].str.lower().str.strip()

# Check
games[["Title", "Title_clean"]].head()

,Title,Title_clean
0,Elden Ring,elden ring
1,Hades,hades
2,The Legend of Zelda: Breath of the Wild,the legend of zelda: breath of the wild
3,Undertale,undertale
4,Hollow Knight,hollow knight

In [27]:
# Clean platform column
vgsales["Platform"] = vgsales["Platform"].str.lower().str.strip()

vgsales["Platform"].unique()[:10]

<StringArray>
['wii', 'nes', 'gb', 'ds', 'x360', 'ps3', 'ps2', 'snes', 'gba', '3ds']
Length: 10, dtype: str

In [28]:
# Remove brackets and quotes from genres
games["Genres"] = games["Genres"].str.replace("[", "", regex=False)
games["Genres"] = games["Genres"].str.replace("]", "", regex=False)
games["Genres"] = games["Genres"].str.replace("'", "", regex=False)

# Convert to lowercase
games["Genres"] = games["Genres"].str.lower().str.strip()

games["Genres"].head()

0                                adventure, rpg
1                adventure, brawler, indie, rpg
2                                adventure, rpg
3    adventure, indie, rpg, turn based strategy
4                    adventure, indie, platform
Name: Genres, dtype: str

In [29]:
# Check common titles between both datasets
common_titles = set(games["Title_clean"]).intersection(set(vgsales["Title_clean"]))

print("Number of matching titles:", len(common_titles))
print("Total games dataset:", len(games))
print("Total vgsales dataset:", len(vgsales))

Number of matching titles: 466
Total games dataset: 1498
Total vgsales dataset: 16327

In [30]:
# Perform inner merge
merged_df = pd.merge(
    games,
    vgsales,
    on="Title_clean",
    how="inner",
    suffixes=("_engagement", "_sales")
)

print("Merged Dataset Shape:", merged_df.shape)

Merged Dataset Shape: (1369, 26)

In [31]:
print("Unique titles in merged dataset:", merged_df["Title_clean"].nunique())

Unique titles in merged dataset: 466

In [32]:
final_df = merged_df[[
    "Title",
    "Release_Year_engagement",
    "Team",
    "Rating",
    "Plays",
    "Backlogs",
    "Wishlist",
    "Genres",
    "Platform",
    "Publisher",
    "NA_Sales",
    "EU_Sales",
    "JP_Sales",
    "Other_Sales",
    "Global_Sales"
]]

print("Final Dataset Shape:", final_df.shape)
final_df.head()

Final Dataset Shape: (1369, 15)

,Title,Release_Year_engagement,Team,Rating,Plays,Backlogs,Wishlist,Genres,Platform,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,Minecraft,2011.0,['Mojang Studios'],4.3,33K,1.1K,230,"adventure, simulator",x360,Microsoft Game Studios,5.58,2.83,0.02,0.77,9.20
1,Minecraft,2011.0,['Mojang Studios'],4.3,33K,1.1K,230,"adventure, simulator",ps3,Sony Computer Entertainment,1.97,2.51,0.00,0.94,5.42
2,Minecraft,2011.0,['Mojang Studios'],4.3,33K,1.1K,230,"adventure, simulator",ps4,Sony Computer Entertainment Europe,1.38,1.87,0.12,0.65,4.02
3,Minecraft,2011.0,['Mojang Studios'],4.3,33K,1.1K,230,"adventure, simulator",xone,Microsoft Game Studios,1.43,0.76,0.00,0.22,2.41
4,Minecraft,2011.0,['Mojang Studios'],4.3,33K,1.1K,230,"adventure, simulator",psv,Sony Computer Entertainment Europe,0.28,0.79,0.87,0.32,2.25

In [34]:
final_df.rename(
    columns={"Release_Year_engagement": "Release_Year"},
    inplace=True
)

In [35]:
def convert_k(value):
    if isinstance(value, str):
        value = value.replace("K", "")
        return float(value) * 1000
    return float(value)

for col in ["Plays", "Backlogs", "Wishlist"]:
    final_df[col] = final_df[col].apply(convert_k)

In [36]:
final_df[["Plays", "Backlogs", "Wishlist"]].head()

     Plays  Backlogs  Wishlist
0  33000.0    1100.0  230000.0
1  33000.0    1100.0  230000.0
2  33000.0    1100.0  230000.0
3  33000.0    1100.0  230000.0
4  33000.0    1100.0  230000.0

In [39]:
final_df.info()

<class 'pandas.DataFrame'>
RangeIndex: 1369 entries, 0 to 1368
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Title         1369 non-null   str
 1   Release_Year  1369 non-null   int64
 2   Team          1369 non-null   str
 3   Rating        1369 non-null   float64
 4   Plays         1369 non-null   float64
 5   Backlogs      1369 non-null   float64
 6   Wishlist      1369 non-null   float64
 7   Genres        1369 non-null   str
 8   Platform      1369 non-null   str
 9   Publisher     1369 non-null   str
 10  NA_Sales      1369 non-null   float64
 11  EU_Sales      1369 non-null   float64
 12  JP_Sales      1369 non-null   float64
 13  Other_Sales   1369 non-null   float64
 14  Global_Sales  1369 non-null   float64
dtypes: float64(9), int64(1), str(5)
memory usage: 160.6 KB

In [41]:
final_df["Release_Year"] = final_df["Release_Year"].astype(int)

final_df.info()

<class 'pandas.DataFrame'>
RangeIndex: 1369 entries, 0 to 1368
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Title         1369 non-null   str
 1   Release_Year  1369 non-null   int64
 2   Team          1369 non-null   str
 3   Rating        1369 non-null   float64
 4   Plays         1369 non-null   float64
 5   Backlogs      1369 non-null   float64
 6   Wishlist      1369 non-null   float64
 7   Genres        1369 non-null   str
 8   Platform      1369 non-null   str
 9   Publisher     1369 non-null   str
 10  NA_Sales      1369 non-null   float64
 11  EU_Sales      1369 non-null   float64
 12  JP_Sales      1369 non-null   float64
 13  Other_Sales   1369 non-null   float64
 14  Global_Sales  1369 non-null   float64
dtypes: float64(9), int64(1), str(5)
memory usage: 160.6 KB